<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="/css/foods_edit.css">
<%- include ('../partials/head.ejs') %>
  <body>

    <%- include ('../partials/nav.ejs') %>


    <div class="container">
      <div class="top">
        <h1>Edit your recipe</h1>
        <a href="/"> <h2>Go Back</h2> </a>
      </div>

    <form class="edit-form" action="/foods/<%=food.id%>?_method=PUT" method="post">

      <input type="text" name="name" value="<%=food.name%>" required>
      <br>
      <input type="text" name="img" value="<%=food.img%>" >
      <br>
      <textarea type="text" name="ingredients"required><%=food.ingredients%>
      </textarea>
      <br>
      <input type="text" name="cuisine" value="<%=food.cuisine%>" required>
      <br>
      <textarea type="text" name="instructions"required><%=food.instructions%>
        </textarea>
        <br>
      <input type="text" name="notes" value="<%=food.notes%>">
      <br>
      <select name="diet">
        <option value="none">None</option>
        <option value="halal">Halal</option>
        <option value="vegan">Vegan</option>
        <option value="vegetarian ">Vegetarian </option>
      </select>
      <br>
      <input type="submit" value="Update Recipe">

    </form>

  </body>
</html>
