<!DOCTYPE html>
<html lang="en" dir="ltr">

 <%- include ('../partials/head.ejs') %>
 <link rel="stylesheet" href="/css/foods_index.css">

  <body>
    <div class="main">

    <nav class="recipe-feed-nav">
      <%- include ('../partials/nav.ejs') %>
        <h1>Recipes Feed</h1>
        <a href="users/">users</a>
    </nav>

            <div class="food-recipes">
      <% for(let i = 0; i < food.length; i++){ %>
          <div class="recipe-info">
            <a href="/foods/<%= food[i].id %> ">
              <img src="<%= food[i].img %>" alt=""> <br>
              <%= food[i].name %>
            </a>
          </div>
        <% } %>

    </div>
    </div>
  </body>
</html>
