<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include ('../partials/head.ejs') %>
  <link rel="stylesheet" href="/css/foods_show.css">

  <body>

      <%- include ('../partials/nav.ejs') %>
      <h1>SHOW.EJS</h1>

          <div class="food-recipes">
              <div class="recipe-info">

                <img src="<%= food.img %>" alt=""> <br>
                <%= food.name %> <br>
                <%= food.ingredients %> <br>
                <%= food.cuisine %> <br>
                <%= food.instructions %> <br>
                <%= food.notes %> <br>
                <%= food.diet %> <br>
              </div>

              <%- include ('../partials/edit.ejs') %>



          </div>
  </body>
</html>
