<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<%- include ('../partials/nav.ejs') %>

    <a href="/foods">Main Page</a> <br>
    <a href="/users">Users</a> <br>

    <h1>Profile</h1> <br>


    <div class="">

      User Name: <%=user.username%>
      <br>
      Number of recepies: <%=user.recepies.length%>
      <br>

      <br>
      <div class="user-recepies">
        <% for (let i = 0; i < user.recepies.length; i++){ %>
       <img src="<%=user.recepies[i].img%>">
       Name of recepies: <%=user.recepies[i].name%>
       <%}%>

      </div>


      <section>
    <form action="/users/<%=user._id%>?_method=DELETE" method="post">
        <input type="submit" value="Delete user"/>
    </form>
</section>


    </div>


  </body>
</html>
