<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/profile.css">
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>

      <div class="inner-nav">
        <a href="/foods">HOME</a>
        <a href="/users">Community</a>
      </div>
    </nav>

    <div class="profile">
      <div class="profile-pic">

      </div>

      <div class="profile-info">

      User Name: <%=user.username%>
      <br>
      Number of recepies: <%=user.recipes.length%>
      <br>
      Cooking skill level: Professional
      <br>
      Location: San Francisco
      <br>

      <% if(currentUser){ %>
        <a href="/foods/new">Create new recepie</a>

        <form action="/users/<%=user._id%>?_method=DELETE" method="post">
            <input type="submit" value="Delete user"/>
        </form>
        <%}%>
      </div>
      </div>



      <h2 id="name"> <%=user.username%> Recipes</h2>

      <div class="user-recepies">
        <% for (let i = 0; i < user.recipes.length; i++){ %>

          <div class="single-recipe">

            <a href="/foods/<%= user.recipes[i].id %> ">
            <img class="image" src="<%=user.recipes[i].img%>">

           <%=user.recipes[i].name%>
          </a>
            </div>


            <%}%>


      </div>

  </body>
</html>
